	<div class="slides">
		<!-- <div class="slide" [ngStyle]="{'background-image':'url('+ slides[currentSlide].url +')' , opacity: hidden ? 0 : 1}"> -->
		<img src="assets/images/banner-gasfi-2.png" alt="">
		<div class="card-container">
			<mat-card>
				<mat-card-header>
				  <mat-card-title><h3>GASFICENTER</h3></mat-card-title>
				</mat-card-header>
				<mat-card-content>
				  <p> ¡Confía en los expertos en gasfitería! Soluciones rápidas y efectivas para todas tus necesidades. Atención inmediata y garantía en nuestros trabajos. ¡Llámanos hoy! </p> 
				  <!-- <p>{{ image.p }}</p> -->
				</mat-card-content>
				<mat-card-actions>
					<button id="cotizarScrollBtn" mat-raised-button > Cotizar </button>
				</mat-card-actions>
			  </mat-card>
		</div>

			<!-- LOGO BANNER -->
		<!-- <div class="slide">
		</div> -->
		<!-- <div id="indicators">
			@for(slide of slides; track $index;){
				<div (click)="jumpToSlide($index)" class="indicator" [ngClass]="{active: $index==currentSlide}" ></div>
			}
		</div> -->
		<!-- <button (click)="next()" class="nextBtn">
			<mat-icon>arrow_forward_ios</mat-icon>
		</button>
		<button (click)="previous()" class="previousBtn">
			<mat-icon>arrow_back_ios</mat-icon>
		</button> -->
	</div>