<div class="footer">
    <div class="container">
        <div class="row">
            <div class="image-col">
                <img src="assets/images/GASFI-logo.png" alt="Descripción de la imagen" class="logo">
            </div>
            <div class="footer-col">
                <h4>Use Cases</h4>
                <ul>
                    <li><a href="#">Gasficenter</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Trabajos</a></li>
                    <li><a href="#">www.gasficenter.cl</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Resourses</h4>
                <ul>
                    <li><a href="#">Gasficenter</a></li>
                    <li><a href="#">Blog</a></li>
                 
                </ul>
            </div>
            <div class="footer-col">
                <h4>Gasficenter</h4>
                <ul>
                    <li><a href="#">Sobre nosotros</a></li>
                    <li><a href="#">Trabajos</a></li>
                    <li><a href="#">RRSS</a></li>
                    <li><a href="#">Equipo</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Follow Us</h4>
                <div class="social-icons">
                    <a href="#"> <i class="fab fa-facebook-f"></i> </a>
                    <a href="#"> <i class="fab fa-instagram"></i> </a>
                    <a href="#"> <i class="fab fa-linkedin-in"></i> </a>
                    <a href="#"> <i class="fab fa-github"></i> </a>
                </div>
                <h4>Contact</h4>
                <ul>
                    <li><a href="#"><mat-icon>map</mat-icon>Gasficenter</a></li>
                    <li><a href="#"><mat-icon>phone</mat-icon>+56 9 83662931</a></li>
                    <li><a href="#"><mat-icon>mail</mat-icon>gasficenter&#64;gmail.com</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>