<h1>NEWS & BLOG</h1>
<div class="container-background">
    <div class="container">
        <div class="main-frame">
            <mat-card id="first-card">
                <img mat-card-image src="../../../../assets/images/news/news-banner-1.png" alt="Photo of a Shiba Inu">
                <mat-card-header>
                    <mat-card-title>News Title</mat-card-title>
                  </mat-card-header>
                  <mat-divider></mat-divider>
                <mat-card-content>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit
                    , aliquam molestie luctus nibh sociis felis, blandit duis
                    penatibus neque sodales gravida. Ullamcorper aptent arcu cursus parturient euismod.
                  </p>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit
                    , aliquam molestie luctus nibh sociis felis, blandit duis
                    penatibus neque sodales gravida. Ullamcorper aptent arcu cursus parturient euismod.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <h3>
                    <a href="">See More</a>
                  </h3>
                </mat-card-actions>
              </mat-card>
            <!-- <img src="https://picsum.photos/300/300?random=1" alt=""> -->
            <div class="secondary-frame">
              <mat-card id="second-card">
                <img mat-card-image src="../../../../assets/images/news/news-banner-2.png" alt="Photo of a Shiba Inu">
                <div id="card-content">
                  <mat-card-header>
                    <mat-card-title>News Title</mat-card-title>
                  </mat-card-header>
                  <mat-divider></mat-divider>
                <mat-card-content>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit
                    , aliquam molestie luctus nibh sociis felis, blandit duis
                    penatibus neque sodales gravida. Ullamcorper aptent arcu cursus parturient euismod.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <h3>
                    <a href="">See More</a>
                  </h3>
                </mat-card-actions>
                </div>
              </mat-card>
              <mat-card id="second-card">
                <img mat-card-image src="../../../../assets/images/news/news-banner-3.png" alt="Photo of a Shiba Inu">
                <div id="card-content">
                  <mat-card-header>
                    <mat-card-title>News Title</mat-card-title>
                  </mat-card-header>
                  <mat-divider></mat-divider>
                <mat-card-content>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit
                    , aliquam molestie luctus nibh sociis felis, blandit duis
                    penatibus neque sodales gravida. Ullamcorper aptent arcu cursus parturient euismod.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <h3>
                    <a href="">See More</a>
                  </h3>
                </mat-card-actions>
                </div>
              </mat-card>
            </div>
        </div>
    </div>
</div>