<div class="carousel" (swipeleft)="next()" (swiperight)="previous()">
  <div
    class="carousel-inner"
    [ngStyle]="{ transform: 'translateX(-' + currentSlide * 100 + '%)' }"
  >
    <div class="carousel-item" *ngFor="let image of images; let i = index">
      <img [src]="image.url" [alt]="image.caption" />
    </div>
  </div>
  <div class="carousel-controls">
    <button
      mat-fab
      (click)="previous()"
      [disabled]="currentSlide === 0"
      color="primary"
    >
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <div class="carousel-indicators">
      <span
        *ngFor="let image of images; let i = index"
        [class.active]="i === currentSlide"
      ></span>
    </div>
    <button
      mat-fab
      (click)="next()"
      [disabled]="currentSlide === images.length - 1"
      color="primary"
    >
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>
</div>
