<div class="frame">
    <h1 class="animate">
        NUESTRAS OFERTAS
    </h1>
    <div class="slides">
        <img src="assets/images/gasfisenter/img-offer-1.jpeg" alt="">
        <img id="other-img" src="assets/images/gasfisenter/img-offer-2.jpeg" alt="">
        <img id="other-img" src="assets/images/gasfisenter/img-offer-3.jpeg" alt="">
    </div>
    <!-- <div id="indicators">
        @for(slide of images; track $index;){
            <div (click)="jumpToSlide($index)" class="indicator" [ngClass]="{active: $index==currentSlide}" ></div>
        }
    </div> -->
    <!-- <button (click)="next()" class="nextBtn">
        <mat-icon>arrow_forward_ios</mat-icon>
    </button>
    <button (click)="previous()" class="previousBtn">
        <mat-icon>arrow_back_ios</mat-icon>
    </button> -->
</div>
